---
interface Props {
    tailwindClass?: string;
}
const { tailwindClass = "" } = Astro.props;
---


<div
style={{
    backgroundColor: "var(--light)"
}}
class={"p-5 text-secondary rounded-md gap-2 " + tailwindClass}
>
    <slot />
</div>