---
import Container from "./Container.astro";
import { PiPersonArmsSpreadBold } from "react-icons/pi"
---


<div
id="homepage"
class={"flex-col gap-6 " + 
((import.meta.env.DEV && import.meta.env.PUBLIC_SKIP_INTRO === "true") ? "flex" : "hidden")
}
>

</div>