---
import IntroButton from "../components/IntroButton.astro";
---

<main
id="intro"
class="absolute top-0 left-0 flex flex-col justify-center items-center gap-7 w-full h-full"
>
    <p
    id="intro-text"
    class="font-climate text-5xl text-center w-64 md:text-7xl md:w-96 lg:text-8xl lg:w-[30rem]"
    >
        <span>
            This
        </span>

        <span>
            Is
        </span>

        <span>
            The
        </span>

        <span>
            Stuff
        </span>

        <span>
            I
        </span>

        <span>
            Make
        </span>
    </p>

    <IntroButton />
</main>