---
import { LuGithub } from "react-icons/lu";
const slug = Astro.url.pathname;
---

<nav
id="navbar"
class={"flex flex-row w-full justify-end items-center rounded-md " +
"gap-5 font-bold mb-auto text-primary shadow-md shadow-accent py-3 px-5 " +
"md:gap-10 md:py-5 md:px-7 " +
((import.meta.env.DEV && import.meta.env.PUBLIC_SKIP_INTRO === "true") ? "" : "-translate-y-36")}
>

    <a
    href="/"
    class={"md:text-xl cursor-pointer hover:brightness-75 " + ((slug !== "/") ? "opacity-60" : "")}
    >
        Home
    </a>

    <a
    href="/contact"
    class={"md:text-xl cursor-pointer hover:brightness-75 " + ((slug !== "/contact") ? "opacity-60" : "")}
    >
        Contact
    </a>
    <a
    href="https://github.com/LorenzoBloedow/portfolio"
    class="cursor-pointer hover:brightness-75 "
    >
        <LuGithub
        className="w-7 h-7 md:w-10 md:h-10 border-2 rounded-full border-primary p-0.5 md:p-1"
        />
    </a>
</nav>