---
import { BsGithub } from "react-icons/bs";
---

<nav
id="navbar"
class="flex flex-row w-full justify-end items-center rounded-xl
gap-5 font-bold mb-auto text-primary shadow-md shadow-accent py-3 px-5
-translate-y-36 md:gap-10 md:py-5 md:px-7"
>
    <a
    href="/contact"
    class="md:text-xl cursor-pointer"
    >
        Contact
    </a>
    <a
    href="https://github.com/LorenzoBloedow/portfolio"
    class="cursor-pointer"
    >
        <BsGithub
        className="w-7 h-7 md:w-10 md:h-10"
        />
    </a>
</nav>