---
import Navbar from "../components/Navbar.astro";
---

<html>
    <head>
        <title>
            LorenzoBloedow
        </title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Lorenzo Bloedow's Front-End Development Portfolio Website">
        <meta name="keywords" content="LorenzoBloedow,Lorenzo,Bloedow,Front-End,Developer,Programming,Next,React,Portfolio" />
        <link rel="icon" href="/favicon.svg" />
    </head>

    <body
    id="body"
    class="p-5 w-full min-h-[100dvh] flex flex-col gap-6 minimalScrollbar"
    >
        <header>
            <Navbar />
        </header>

        <slot />
    </body>
</html>


<style is:global>
    @font-face {
        font-family: "Climate Crisis";
        src: url("/fonts/ClimateCrisis.ttf");
        unicode-range: U+0020-007F;
        display: block;
    }

    @font-face {
        font-family: "Cabin";
        src: url("/fonts/Cabin.ttf");
        unicode-range: U+0020-007F;
        display: block;
    }

    html {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    body {
        -webkit-font-smoothing: subpixel-antialiased;
        --primary: rgb(76, 78, 230);
        --secondary: rgb(35, 34, 102);
        --accent: rgb(147, 175, 234);
        --light: rgb(59 130 246 / 0.1);
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .minimalScrollbar {
        scrollbar-width: thin;
        scrollbar-color: var(--accent);
    }

    .minimalScrollbar::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    }

    .minimalScrollbar::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-radius: 10px;
    }
</style>